/*.App {
  text-align: center;
}*/

* {
    font-family: 'Yusei Magic', sans-serif;
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    background: rgb(170, 83, 252);
    color: rgb(152, 197, 62);
    font-size: 20px;
}

.todo-app {
  display: flex;
  flex-direction: column;
  justify-content: start;
  width: 520px;
  min-height: 500px;
  background: #2e365a;
  text-align: center;
  margin: 50px auto;
  border-radius: 10px;
}

h1 {
    color: white;
    font-weight: 300;
    margin: 5px;
}

.todo-input {
    margin: 10px;
    outline: none;
    width: 320px;
    height: 30px;
    font-weight: 800;
    text-align: center;
    border-radius: 8px;
}

.todo-btn{
    height: 30px;
    width: 100px;
    border-radius: 8px;
    outline: none;
    background-color: red;
    font-weight: 500;
    color: white;
}

.todo-input::placeholder {
    color: #e2e2e2;
}

.icons {
    color: white;
    align-items: center;
    font-size: 28px;
    cursor: pointer;
}

.delete-icon {
    margin-right: 15px;
}

.delete-icon:hover{
    color: red;
    font-size: 35px;
}

.edit-icon:hover{
    color: red;
    font-size: 35px;
}